.game-asset  {
  cursor: crosshair;
  position: absolute;
  transition-duration: .4s;
}

#key {
  width:50px;
  right: 30px;
  bottom: 80px;
  z-index:1;
}

#rock {
  width:70px;
  right:20px;
  bottom:70px;
  z-index:2;
}

#bush {
  display: block;
  width:300px;
  bottom:5px;
  left:10px;
  opacity: 1;
}

#mushroom {
  display: block;
  width:100px;
  top:62%;
  left:40%;
}
